{% extends "base.html.jinja2" %}
{% block main %}
  <article class="full-post">
    <div class="heading-underline">
      <h2>Example first article</h2>
    </div>
    <p class="date">Sept. 21, 2018</p>
    <section id="first-custom-anchor">
      <h3>First Paragraph</h3>
      <p>
        Example first paragraph.
      </p>
    </section>
  </article>
{% endblock %}
