html {
  --body-text-color: #373d3f;

  /* Color palette generated via paletton.com */

  /* Primary Colors */
  --primary-color: #1049a9;
  --primary-color-shade-1: #0c3883;
  --primary-color-shade-2: #072a67;
  --primary-color-tint-1: #3461ae;
  --primary-color-tint-2: #557cbf;
  --primary-color-lightest-tint-2: #cfddf5;
  /* Secondary Colors */
  --secondary-color-a: #3216b0;
  --secondary-color-a-shade-1: #261088;
  --secondary-color-a-shade-2: #1b0a6b;
  --secondary-color-a-tint-1: #503ab5;
  --secondary-color-a-tint-2: #6e5bc4;

  --secondary-color-b: #ffce00;
  --secondary-color-b-shade-1: #c59f00;
  --secondary-color-b-shade-2: #9b7d00;
  --secondary-color-b-tint-1: #ffd939;
  --secondary-color-b-tint-2: #ffe164;
  --secondary-color-b-lightest-tint-2: #fffae6;
  /* Tertiary Colors */
  --tertiary-color: #ffa400;
  --tertiary-color-shade-1: #c57f00;
  --tertiary-color-shade-2: #9b6300;
  --tertiary-color-tint-1: #ffb839;
  --tertiary-color-tint-2: #ffc763;
}

body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", sans-serif;
  color: var(--body-text-color);
}

#container {
  width: 800px;
  margin: auto;
}

main {
  width: 800px;
  margin-top: 3em;
}

.logo {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
}

header {
  width: -webkit-max-content;
  width: -moz-max-content;
}

header h1 {
  width: -webkit-max-content;
  width: -moz-max-content;
  margin-bottom: 0;
  padding: 0.1em;
  border: thin solid var(--primary-color);
  color: var(--primary-color-shade-2);
}

header p {
  margin-top: 0.5em;
  color: var(--primary-color-shade-1);
}

h2 {
  color: var(--body-text-color);
}

.heading-underline {
  color: var(--secondary-color-b);
  text-decoration: underline;
}

p {
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color-a-shade-1);
}

p > a {
  color: var(--secondary-color-b-shade-2);
  font-weight: bold;
}

p > a:hover {
  text-decoration: underline;
}

.welcome {
  padding: 2em;
  background-color: var(--primary-color-lightest-tint-2);
  color: var(--primary-color-shade-2);
}

.welcome > h2 {
  border: none;
}

.post-snippet {
  display: block;
  color: var(--body-text-color);
  margin-bottom: 2em;
}

.post-snippet:hover {
  text-decoration: underline;
}

.post-snippet > article {
  padding: 1em;
  border: thin solid var(--body-text-color);
}

.date {
  margin-top: 0;
  font-size: 0.8em;
}

.full-post h2 {
  margin-bottom: 0;
}

img {
  width: 100%;
}

footer {
  margin-top: 2em;
  padding: 2em;
  background-color: var(--primary-color-lightest-tint-2);
}

footer a {
  color: var(--primary-color-shade-2);
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 840px) {
  #container {
    width: 100%;
  }

  header {
    margin-left: 1.34em;
  }

  main {
    width: 100%;
    margin: 0;
  }

  .full-post {
    padding: 1em;
  }

  .post-snippet > article {
    border: none;
  }

  .recent-posts {
    margin-left: 0.67em;
  }
}
