<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <link
      href="/recent.atom"
      rel="alternate"
      title="Recent Posts"
      type="application/atom+xml"
    />
    <title>A Blog</title>
  </head>
  <body>
    <div id="container">
      <a class="logo" href="/">
        <header>
          <h1>blog</h1>
          <p>A Blog</p>
        </header>
      </a>
      <main>
        {% block main %}{% endblock %}
      </main>
    </div>
    {# <footer>
      <a href="/about_fathom">
        This website does not track you! Click here for more information about
        the analytics we gather.
      </a>
    </footer>
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    {% assets "js" %}
    <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- / Fathom --> #}
  </body>
</html>
