{% extends "base.html.jinja2" %}
{% block main %}
  <section class="welcome">
    <h2>Welcome!</h1>
    <p>
      &lt;Some intro/description&gt;
    </p>
  </section>
  <div class="heading-underline">
    <h2 class="recent-posts">Recent Posts</h2>
  </div>
  <a class="post-snippet" href="/post/example">
    <article>
      <h3>Example first article</h3>
      <p class="date">Jan. 3, 2019</p>
      <p>
        Excerpt from example article
      </p>
    </article>
  </a>
{% endblock %}
