<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title type="text">Recent Posts</title>
  <id>{{ url_root }}/recent.atom</id>
  <updated>2019-01-03T00:00:00Z</updated>
  <link href="{{ url_root }}/" />
  <link href="{{ url_root }}/recent.atom" rel="self" />
  <generator>Werkzeug</generator>
  {% for post in posts %}
    <entry xml:base="{{ url_root }}/recent.atom">
      <title type="text">{{ post['title'] }}</title>
      <id>{{ url_root }}{{ post['path'] }}</id>
      <updated>{{ post['updated'] }}</updated>
      <published>{{ post['published'] }}</published>
      <link href="{{ url_root }}{{ post['path'] }}" />
      <author>
        <name>{{ post['author'] }}</name>
      </author>
      <content type="html">
        {{ post['content'] }}
      </content>
    </entry>
  {% endfor %}
</feed>